{% extends "StronaBundle::szablon.html.twig" %}


{% form_theme formularz 'StronaBundle:szablon:szablon_form.html.twig'  %}

{% block title %}Strona główna - {{ parent() }}{% endblock %}
{%block conetner %}
    
    
    
   <div class="container">
        <div class="row">
            <div class="page-header">
  <h1>Domki</h1>
</div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Adres</th>
                        <th>Liczba miejsc</th>
                        <th>Wyposazenie ID</th>
                    </tr>
                </thead>
                <tbody>
                    {%for entry in row %}
                        <tr>
                            <td>{{ entry.nazwa }}</td>
                            <td>{{ entry.adres }}</td>
                            <td>{{ entry.liczbaMiejsc }}</td>
                            {#<td>{{ entry.wyposazeniewyposazenie }}</td>#}
                        </tr>
                        {%endfor%}
                </tbody>
            </table>
                
                
    
    <a href ="glowna" class="btn btn-lg btn-primary" type="button">Powrót</a>
            </div>
    </div>
                
{%endblock%}