{% extends "StronaBundle::szablon.html.twig" %}

{% block title %}Strona główna - {{ parent() }}{% endblock %}
{%block conetner %}
    
    
    
   <div class="container">
        <div class="row">
            <div class="page-header">
  <h1>Wyposazenie</h1>
</div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>TV</th>
                        <th>czajnik</th>
                        <th>lodówka</th>
                        <th>microfalowka</th>
                        <th>wifi</th>
                        <th>lozko 1 os</th>
                        <th>lozko 2 os</th>
                    </tr>
                </thead>
                <tbody>
                    {%for entry in row %}
                        <tr>
                            <td>{{ entry.tv }}</td>
                            <td>{{ entry.czajnik }}</td>
                            <td>{{ entry.lodowka }}</td>
                            <td>{{ entry.microfalowka }}</td>
                            <td>{{ entry.wifi }}</td>
                            <td>{{ entry.lozko1os }}</td>
                            <td>{{ entry.lozko2os}}</td>
                        </tr>
                        {%endfor%}
                </tbody>
            </table>
                
                
    
    <a href ="glowna" class="btn btn-lg btn-primary" type="button">Powrót</a>
            </div>
    </div>
                
{%endblock%}