<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Damian Hanusiak">

        <title>{% block title %}Damian Hanusiak{% endblock %} </title>

        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/strona/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/strona/css/styles.css')}}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        {# MENU************************************************ #}

        {#<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-pills">
			<li><a href="">Home</a></li>
			<li><a href="">O Mnie</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oferta<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Strony www</a></li>
            <li><a href="#">Optymalizacja</a></li>
            <li><a href="#">Audyt strony</a></li>
            <li class="divider"></li>
            <li><a href="#">Linki Sponsorowane</a></li>
            <li><a href="#">Kampania Banerowa</a></li>
            <li><a href="#">Remarketing</a></li>
          </ul>
        </li>
			<li><a href="">Kontakt</a></li>
                    </ul>
                </div>

            </div>
        </nav>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#" data-slide-to="0" class="active"></li>
                <li data-target="#" data-slide-to="1"></li>
                <li data-target="#" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{asset('bundles/strona/images/01.jpg')}}" width="100%" alt="zdjecie1">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="{{asset('bundles/strona/images/02.jpg')}}" width="100%" alt="zdjecie2">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="{{asset('bundles/strona/images/03.jpg')}}" width="100%" alt="zdjecie3">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
          </div>#}
            {# <!-- Controls -->
             <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
             </a>#}

    {%block conetner %}{%endblock%}
    
    {#<footer id="footer">
        <div class="container">
            <p class="text-muted">&copy; Damian Hanusiak 2014</p>
        </div>
    </footer>#}

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{asset('bundles/strona/js/bootstrap.min.js')}}"></script>
</body>
</html>